<a href="https://colab.research.google.com/github/hashimsharkh/CS4442-FPLForecasting/blob/Hashim_DataExploratory/CS4442_Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **0. Introduction**

Each year, with the commencing of the Premier League, millions of players worldwide are pulled into the Fantasy Football marathon.

Whether its casual players competing against their friends or tryhards who want to win it all, who will come triamphant in the end?

> FPL is a game that casts you in the role of a Fantasy manager of Premier League players. 

Quoted from:

https://www.premierleague.com/news/2173986#:~:text=FPL%20is%20a%20game%20that,their%20clubs%20in%20PL%20matches.

## **1. Problem Statement**

Problem statement is to create a model that will help forecasting performance of players and achieve a top 1% in the world. 

(As the season is ending, we will just test our model against previous season and hopefully achieve 1%)

## **2. Imports and Helper Methods**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style

In [ ]:
def latest_gw(season: str = '2122') -> int:
  ''' 
  season parameter defaults to current season
  latest_gw returns the latest gameweek in a certain season
  '''
  new_df = train_df[train_df['season'] == season]
  gw_df = new_df['gw']
  return max(gw_df)

def sum_goals(season: str, player: str) -> int:
   '''
   Returns the number of goals a player scored in a season
   '''
   player_stats = train_df[(train_df['season'] == season) & (train_df['player'] == player)]
   goals_scored = player_stats.goals_scored.sum()
   print(player, 'scored ', goals_scored, 'until gw: ', latest_gw(season))
   return goals_scored

def points_achieved(season: str, player: str, gw: int) -> int:
   '''
   Returns the number of points a player achieved in a certain gw
   '''
   player_stats = train_df[(train_df['gw'] == gw) & (train_df['season'] == season) & (train_df['player'] == player)]
   points_scored = player_stats.total_points
   return points_scored

## **3. Data Set**

Credits to [vaastav](https://github.com/vaastav/Fantasy-Premier-League) for scraping fantasy Premier league data

In [ ]:
# Change username to your own
# Generate personal token and replace with password, dont give unneccessary access
#username='hashimsharkh'
#password='password'

In [3]:
# !git clone https://hashimsharkh:{password}@github.com/hashimsharkh/CS4442-FPLForecasting.git
# !git clone https://{username}:{password}@github.com/hashimsharkh/CS4442-FPLForecasting.git
!git clone https://github.com/hashimsharkh/CS4442-FPLForecasting/

Cloning into 'CS4442-FPLForecasting'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 13 (delta 1), reused 4 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [4]:
%cd CS4442-FPLForecasting/

/content/CS4442-FPLForecasting

In [5]:
!git checkout Hashim_DataExploratory

Branch 'Hashim_DataExploratory' set up to track remote branch 'Hashim_DataExploratory' from 'origin'.
Switched to a new branch 'Hashim_DataExploratory'

In [9]:
!git branch -r

  origin/HEAD -> origin/main
  origin/Hashim_DataExploratory
  origin/main

In [6]:
%ls

data/  README.md

In [ ]:
pd.options.display.max_columns = None

In [ ]:
# Train df contains all historical data
train_df = pd.read_csv('data/train_fpl.csv',
                       index_col=0,
                       dtype={'season':str,
                              'squad':str,
                              'comp':str})

In [ ]:
train_df.head()

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,assists,bonus,bps,clean_sheets,creativity,goals_conceded,goals_scored,ict_index,influence,own_goals,penalties_missed,penalties_saved,red_cards,saves,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season,play_proba,relative_market_value_team_season,relative_market_value_opponent_team_season,date,squad,comp,shots_total,shots_on_target,touches,pressures,tackles,interceptions,blocks,xg,npxg,xa,sca,gca,passes_completed,passes,passes_pct,carries,dribbles_completed,dribbles,crowds
0,Aaron Cresswell,1,2,0,West Ham United,Chelsea,NaN,NaN,False,0,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,14023,1,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617,NaN,0.895471,2.243698,2016-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Aaron Lennon,1,3,15,Everton,Tottenham Hotspur,NaN,NaN,True,1,0,0,6,0,0.3,0,0,0.9,8.2,0,0,0,0,0,13918,1,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617,NaN,1.057509,1.433690,2016-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Aaron Ramsey,1,3,60,Arsenal,Liverpool,NaN,NaN,True,2,0,0,5,0,4.9,3,0,3.0,2.2,0,0,0,0,0,163170,4,3,23.0,0,0,0,0,2016-08-14T15:00:00Z,1617,NaN,1.944129,1.465860,2016-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Abdoulaye Doucouré,1,3,0,Watford,Southampton,NaN,NaN,False,0,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,1051,1,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617,NaN,0.704200,0.796805,2016-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Abdul Rahman Baba,1,2,0,Chelsea,West Ham United,NaN,NaN,True,0,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,1243,1,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617,NaN,2.243698,0.895471,2016-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
# Determine which columns have nan values
train_df.isna().sum()

player                                            0
gw                                                0
position                                          0
minutes                                           0
team                                              0
opponent_team                                     0
relative_market_value_team                    72817
relative_market_value_opponent_team           72840
was_home                                          0
total_points                                      0
assists                                           0
bonus                                             0
bps                                               0
clean_sheets                                      0
creativity                                        0
goals_conceded                                    0
goals_scored                                      0
ict_index                                         0
influence                                         0
own_goals                                         0
penalties_missed                                  0
penalties_saved                                   0
red_cards                                         0
saves                                             0
selected                                          0
team_a_score                                      0
team_h_score                                      0
threat                                            0
transfers_balance                                 0
transfers_in                                      0
transfers_out                                     0
yellow_cards                                      0
kickoff_time                                      0
season                                            0
play_proba                                    69702
relative_market_value_team_season             16950
relative_market_value_opponent_team_season    16950
date                                              0
squad                                         82913
comp                                          82913
shots_total                                   82913
shots_on_target                               82913
touches                                       82971
pressures                                     82971
tackles                                       82971
interceptions                                 82913
blocks                                        82971
xg                                            82971
npxg                                          82971
xa                                            82971
sca                                           82971
gca                                           82971
passes_completed                              82971
passes                                        82971
passes_pct                                    83470
carries                                       82971
dribbles_completed                            82971
dribbles                                      82971
crowds                                            0
dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132305 entries, 0 to 132304
Data columns (total 59 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   player                                      132305 non-null  object
 1   gw                                          132305 non-null  int64
 2   position                                    132305 non-null  int64
 3   minutes                                     132305 non-null  int64
 4   team                                        132305 non-null  object
 5   opponent_team                               132305 non-null  object
 6   relative_market_value_team                  59488 non-null   float64
 7   relative_market_value_opponent_team         59465 non-null   float64
 8   was_home                                    132305 non-null  bool
 9   total_points                                132305 non-null  int64
 10  assists                                     132305 non-null  int64
 11  bonus                                       132305 non-null  int64
 12  bps                                         132305 non-null  int64
 13  clean_sheets                                132305 non-null  int64
 14  creativity                                  132305 non-null  float64
 15  goals_conceded                              132305 non-null  int64
 16  goals_scored                                132305 non-null  int64
 17  ict_index                                   132305 non-null  float64
 18  influence                                   132305 non-null  float64
 19  own_goals                                   132305 non-null  int64
 20  penalties_missed                            132305 non-null  int64
 21  penalties_saved                             132305 non-null  int64
 22  red_cards                                   132305 non-null  int64
 23  saves                                       132305 non-null  int64
 24  selected                                    132305 non-null  int64
 25  team_a_score                                132305 non-null  int64
 26  team_h_score                                132305 non-null  int64
 27  threat                                      132305 non-null  float64
 28  transfers_balance                           132305 non-null  int64
 29  transfers_in                                132305 non-null  int64
 30  transfers_out                               132305 non-null  int64
 31  yellow_cards                                132305 non-null  int64
 32  kickoff_time                                132305 non-null  object
 33  season                                      132305 non-null  object
 34  play_proba                                  62603 non-null   float64
 35  relative_market_value_team_season           115355 non-null  float64
 36  relative_market_value_opponent_team_season  115355 non-null  float64
 37  date                                        132305 non-null  object
 38  squad                                       49392 non-null   object
 39  comp                                        49392 non-null   object
 40  shots_total                                 49392 non-null   float64
 41  shots_on_target                             49392 non-null   float64
 42  touches                                     49334 non-null   float64
 43  pressures                                   49334 non-null   float64
 44  tackles                                     49334 non-null   float64
 45  interceptions                               49392 non-null   float64
 46  blocks                                      49334 non-null   float64
 47  xg                                          49334 non-null   float64
 48  npxg                                        49334 non-null   float64
 49  xa                                          49334 non-null   float64
 50  sca                                         49334 non-null   float64
 51  gca                                         49334 non-null   float64
 52  passes_completed                            49334 non-null   float64
 53  passes                                      49334 non-null   float64
 54  passes_pct                                  48835 non-null   float64
 55  carries                                     49334 non-null   float64
 56  dribbles_completed                          49334 non-null   float64
 57  dribbles                                    49334 non-null   float64
 58  crowds                                      132305 non-null  int64
dtypes: bool(1), float64(27), int64(23), object(8)
memory usage: 59.7+ MB

In [ ]:
pd.unique(train_df.team)

array(['West Ham United', 'Everton', 'Arsenal', 'Watford', 'Chelsea',
       'Hull City', 'Middlesbrough', 'Bournemouth', 'Liverpool',
       'Sunderland', 'Leicester City', 'Manchester City', 'Southampton',
       'Tottenham Hotspur', 'Manchester United', 'Burnley',
       'Crystal Palace', 'Swansea City', 'West Bromwich Albion',
       'Stoke City', 'Huddersfield Town', 'Newcastle United',
       'Brighton and Hove Albion', 'Fulham', 'Wolverhampton Wanderers',
       'Cardiff City', 'Aston Villa', 'Norwich', 'Sheffield United',
       'Leeds', 'Brentford'], dtype=object)

In [ ]:
sum_goals("2122", "Mohamed Salah")
points_achieved("2122", "Mohamed Salah", 25)

Mohamed Salah scored  19 until gw:  28

24

In [ ]:
train_df.head()

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,assists,bonus,bps,clean_sheets,creativity,goals_conceded,goals_scored,ict_index,influence,own_goals,penalties_missed,penalties_saved,red_cards,saves,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season,play_proba,relative_market_value_team_season,relative_market_value_opponent_team_season,date,squad,comp,shots_total,shots_on_target,touches,pressures,tackles,interceptions,blocks,xg,npxg,xa,sca,gca,passes_completed,passes,passes_pct,carries,dribbles_completed,dribbles,crowds
0,Aaron Cresswell,1,2,0,West Ham United,Chelsea,NaN,NaN,False,0,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,14023,1,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617,NaN,0.895471,2.243698,2016-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Aaron Lennon,1,3,15,Everton,Tottenham Hotspur,NaN,NaN,True,1,0,0,6,0,0.3,0,0,0.9,8.2,0,0,0,0,0,13918,1,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617,NaN,1.057509,1.433690,2016-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Aaron Ramsey,1,3,60,Arsenal,Liverpool,NaN,NaN,True,2,0,0,5,0,4.9,3,0,3.0,2.2,0,0,0,0,0,163170,4,3,23.0,0,0,0,0,2016-08-14T15:00:00Z,1617,NaN,1.944129,1.465860,2016-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Abdoulaye Doucouré,1,3,0,Watford,Southampton,NaN,NaN,False,0,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,1051,1,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617,NaN,0.704200,0.796805,2016-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Abdul Rahman Baba,1,2,0,Chelsea,West Ham United,NaN,NaN,True,0,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,1243,1,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617,NaN,2.243698,0.895471,2016-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

## **4. Baseline prediction**

In [ ]:
# add all lag points scored to training set
train_df, team_lag_vars = team_lag_features(train_df, ['total_points'], ['all'])
train_df, player_lag_vars = player_lag_features(train_df, ['total_points'], ['all', 1])